# ruby files
/s3/sdk/ruby/.bundle
/s3/sdk/ruby/vendor

# Terraform directories
**/.terraform/

# Terraform state files
**/terraform.tfstate
**/terraform.tfstate.backup

# Terraform lock file
**/.terraform.lock.hcl

# Crash logs
crash.log

# Sensitive override files (optional, if you use them)
*.tfvars
*.tfvars.json