# ruby files
/s3/sdk/ruby/.bundle
/s3/sdk/ruby/vendor

# terraform files
/s3/iac/terraform/.terraform
/s3/iac/terraform/.terraform.lock.hcl
/s3/iac/terraform/terraform.tfstate
/s3/iac/terraform/terraform.tfstate.backup